config.yml
config.py
__pycache__/
audio/
backgrounds/
final/
thumbnails/
*.log
*.mp3
backup/
.vscode/
client_secret.json
cookies*.json
credentials.storage
videos/
config/auth.py
.env

obtain_refresh_token.py
setPython.cmd
data.csv

**/__pycache__/
assets/work_dir/